
#profile-logout-popup {
    right: 0;
    top: 38px;
    z-index: 3;
    display: none;
}

.bb-dashed{
    border-bottom: 1px dashed rgb(207 204 204);
}

.toolbar.positionsticky{
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(224, 90, 103, 0.17);

}
.toolbar .signup-btn{
    color:#FFFFFF;
    background-color: #E05A67;
    height: 35px;
    width:110px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}
.toolbar .login-btn{
    color:#191B2D;
    background-color: #D8D8D8;
    height: 35px;
    width:100px;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
}
    
@media(max-width:576px) {
    .toolbar.positionsticky {
        z-index: 2;
}


}